<html>
<head>
  <link rel="stylesheet" type="text/css" href="styles/style.css">
</head>
<body>
  <canvas id="shapeCanvas" class="shapeCanvas"></canvas>
  <script type="text/javascript" src="js/script.js"></script>
</body>
</html>